<footer class="footer">
  <small>
    Mitch's <a href="https://github.com/mitchashby16">Github</a>
   <a href="https://www.linkedin.com/in/mitchashby">Linkedin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://turing.io/">Education</a></li>
    </ul>
  </nav>
</footer>
